.DetailsPage {
    border-bottom: 1px solid black;
    align-items: center;
    margin-left: 210px;
    display: block;
    justify-content: space-between;
}

.DetailsPage figure {
    width: 100%;
}

