.NavBar {
    background-color: white;
    color: violet;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBar h1 {
    margin: 0;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.5em;
    font-family: sans-serif;
}

.NavBar img {
    width: 60px;
}