.WelcomeContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 60vw;
    margin-left: 400px;
    margin-top: 50px
}

.WelcomeImage {
    width: 60vw;
    margin-left: 0px;
    margin-top: 20px;
}

.WelcomeText {
    position: absolute;
    top: 35%;
    color: white;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    text-shadow: 
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.HomePage {
    background-color: #2e52aa;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.ImageText {
    color: white;
    display: flex;
    align-items: center;
}