.Products {
        border-bottom: 1px solid #ccc;
            padding: 10px;
            display: flex;
            margin-left: 210px;
            width: 50%;
            margin-right: 0;
}

.Products figure {
    width: 60%;
}

.imageProSize{
    width: 300px;
}


h2{
    margin-left: 450px;
}

button{
    margin-left: 200px;

}
.Form{
    margin-right: 250px;
    width: 300px;
}


.flex{
    display: flex;
    margin-top: 70px;
}

