.Products {
        border-bottom: 1px solid #ccc;
            padding: 10px;
            display: flex;
            align-items: center;
            margin-left: 210px;
            width: 50%;
}

.Products figure {
    width: 50%;
}

.imageProSize{
    width: 300px;
}


h2{
    margin-left: 600px;
}

button{
    margin-left: 130px;
    font-size: 1em;
}


